name: mapp_sdk_multi_provider_example
description: Minimal example showing Mapp SDK integration with custom native FirebaseMessagingService for multi-provider support.
publish_to: "none"

environment:
  sdk: ">=3.5.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  # Mapp SDK plugin
  mapp_sdk:
    path: ../

  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
